{%load static%}
<div class="activity_news">
    <div>
        <h4>活動訊息</h4> {%block content%} {%for finspeact in finspeact%}
        <div class="act_block">
            <img src="{{finspeact.image.url}}">
            <span><a  href="/finspeact/{{finspeact.id}}"> {{finspeact.name}}</a></span>
        </div>
        
        {%endfor%}
        <h4>相關求職訊息</h4>
        <ul>
        {% for linkindex in linkindex%}
        <li><a href="{{linkindex.link}}" target="__blank">{{linkindex.jobtitle}}</a></li>
        {%endfor%}
        </ul>
        {%endblock%}
    </div>
</div>
