{%load static%}
<div class="calenderlinkbar">
    <div>
        <h4>活動行事曆</h4>
        <div id="calendar">
            <div id="calendar_header"><i class="icon-chevron-left" style="line-height: 40px;"></i>
                <h1></h1><i class="icon-chevron-right" style="line-height: 40px;"></i> </div>
            <div id="calendar_weekdays"></div>
            <div id="calendar_content"></div>
        </div>
        <h4>相關連結</h4> 
        {%block content%}
        {%for linkact in linkact%}
            <a href="{{linkact.actlink}}">
                <div class="act_block">
                    <img src="{{linkact.actimage.url}}" alt="IMG">
                    <span>{{linkact.actitle}}</span>
                </div>
            </a>
        {%endfor%}
        {%endblock%}
    </div>
</div>
