{%load static%}
<div class="details">
    <div class="imgstyle">
        <img src="{%static "images/01_05title.jpg"%}">
    </div>
    {% block content %}
    <div class="depar_title">
        <select  onchange="location = this.options[this.selectedIndex].value;">
        {% for course in coursearchi %}
            <option value="#course{{course.id}}">{{course.filetitle}}</option>
        {%endfor%}
        </select>
        {% for course in coursearchi %}
        <h4 id="course{{course.id}}">{{course.filetitle}}</h4> 
        {% for i in course.coursearchi.all%}
        <ul>
            <li>{{i.filename}}
            {% if i.file %}
            <a href="{{i.file.url}}" target='_blank'>[DOWNLOAD]</a>
            {% endif %}
            {% if i.file2 %}
            <a href="{{i.file2.url}}" target='_blank'>[DOWNLOAD]</a></li>
            {% endif %}

        </ul>
        {% endfor %}
       
        {% endfor %}
    </div>
    {% endblock %}
</div>