{%load static%}
<div class="details">
    <div class="imgstyle">
        <img src="{%static "images/01_06title.jpg"%}">
    </div>
    {% block content %}
    <div class="depar_title">
        {% for cur in curriculum %}
        <h4>{{cur.title}}</h4> 
        {% for i in cur.curriculumupload.all%}
        <ul>
            <li>{{i.filename}}
            {% if i.file %}
            <a href="{{i.file.url}}">[DOWNLOAD]</a></li>
            {% endif %}
            {% if i.file2 %}
            <a href="{{i.file2.url}}">[DOWNLOAD]</a></li>
            {% endif %}
        </ul>
        {% endfor %}
       
        {% endfor %}
    </div>
    {% endblock %}
</div>