{%load static%}
<div class="details">
    <div class="imgstyle">
        <img src="{%static "images/01_06title.jpg"%}">
    </div>
    {% block content %}
    <div class="depar_title">
        <select  onchange="location = this.options[this.selectedIndex].value;">
        {% for cur in curriculum %}
        <option value="#cur{{cur.id}}">{{cur.title}}</option>
        {%endfor%}
        </select>
        {% for cur in curriculum %}
        <h4 id="cur{{cur.id}}">{{cur.title}}</h4> 
        {% for i in cur.curriculumupload.all%}
        <ul>
            <li>{{i.filename}}
            {% if i.file %}
            <a href="{{i.file.url}}" target='_blank'>[DOWNLOAD]</a></li>
            {% endif %}
            {% if i.file2 %}
            <a href="{{i.file2.url}}" target='_blank'>[DOWNLOAD]</a></li>
            {% endif %}
        </ul>
        {% endfor %}
       
        {% endfor %}
    </div>
    {% endblock %}
</div>