{%load static%}
<div id="header">
        <a href="/" id="logo">
        <img src="{%static "images/logo2.gif"%}" alt="National_Tainan_university" class="schoollogo" />
        <img src="{%static "images/phylogo.png"%}" class="phylogo" >
        <img src="{%static "images/phylogo2.png"%}" class="phylogo2">
        </a>
        <div class="container">
            <nav class="menu" id="myMenu">
                <ul>
                    <li class="drop-down">
                        <a href="#">系統簡介</a>
                        <div class="mega-menu fadeIn animated">
                            <div class="menublock">
                                <a href="/depart_character">系所特色</a>
                                <a href="/teachgoal">教學指標</a>
                                <a href="/legistlate">行政法規</a>
                                <a href="/equipment">所辦設備</a>
                                <a href="/offregulation">修業規定</a>
                            </div>
                        </div>
                    </li>
                    </li>
                    <li class="drop-down">
                        <a href="#">師資成員</a>
                        <div class="mega-menu fadeIn animated">
                            <div class="menublock">
                                <a href="/fullteacher">專任師資</a>
                                <a href="/partteacher">兼任師資</a>
                            </div>
                        </div>
                    </li>
                    <li class="drop-down">
                        <a href="#" class="drop-down">招生資訊</a>
                        <div class="mega-menu fadeIn animated">
                            <div class="menublock">
                                <ul>
                                    <span>大學部招生</span>
                                    <a href="/sportexcellent">
                                        <li>運動績優單獨招生</li>
                                    </a>
                                    <a href="/senioradmi">
                                        <li>高中生申請入學</li>
                                    </a>
                                    <a href="/unitestdistribute/">
                                        <li>大學考試入學分發</li>
                                    </a>
                                    <a href="/transform/">
                                        <li>轉學考</li>
                                    </a>
                                </ul>
                                <ul>
                                    <span>研究所招生</span>
                                    <a href="/masteradmission">
                                        <li>碩士班</li>
                                    </a>
                                    <a href="/manightadmission">
                                        <li>碩專班</li>
                                    </a>
                                    <a href="/liston">
                                        <li>榜單專區</li>
                                    </a>
                                </ul>
                                <ul>
                                    <span>其他</span>
                                    <a href="/trafficmethod">
                                        <li>交通資訊</li>
                                    </a>
                                    <a href="http://student.nutn.edu.tw/freshInfo/" target="__blank">
                                        <li>新生入學專區</li>
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="drop-down">
                        <a href="#">大學部</a>
                        <div class="mega-menu fadeIn animated">
                            <div class="menublock">
                                <a href="/courseplan">課程規劃</a>
                                <a href="/curriculum">學期課表</a>
                                <a href="/studentcorner">學生園地</a>
                                <a href="/crossdomain">跨領域學分學程</a>
                            </div>
                        </div>
                    </li>
                    <li class="drop-down">
                        <a href="#">碩士班</a>
                        <div class="mega-menu fadeIn animated">
                            <div class="menublock">
                            <ul>
                            <li>
                                <a href="/coursearchi">課程架構。修業要點</a>
                            </li>
                            <li>
                                <a href="/bachelortest">學位考試表格下載</a>
                            </li>
                            <li>
                                <a href="/seminar">研討資訊</a>
                            </li>
                            <li>
                                <a href="/studygroup">研究所讀書會</a>
                            </li>
                            </ul>
                            <ul>
                                <li><a href="/schoolpaper">在校論文發表</a></li>
                                <li><a href="/graduatedpaper">畢業論文發表</a></li>
                                <li><a href="/archeology">考古題</a></li>
                                <li><a href="/teachmaster">教學碩士班</a></li>
                            </ul>
                            </div>
                        </div>
                    </li>
                    <li class="drop-down">
                        <a href="#">碩專班</a>
                        <div class="mega-menu fadeIn animated">
                            <div class="menublock">
                                <a href="/ncoursearchi">課程架構。修業要點</a>
                                <a href="/bachelortest">學位考試表格下載</a>
                                <a href="/seminar">研討資訊</a>
                            </div>
                        </div>
                    </li>
                    <li class="drop-down">
                        <a href="#">活動集錦</a>
                        <div class="mega-menu fadeIn animated">
                            <div class="menublock">
                                <a href="/activities1">研討會與研習</a>
                                <a href="/activities2">專題演講</a>
                                <a href="/activities3">體育表演會</a>
                            </div>
                        </div>
                        <li>
                            <a href="/coursemap">課程地圖</a>
                        </li>
                        <li>
                            <a href="/honor">榮譽榜</a>
                        </li>
                        <li>
                            <a href="/sportmagzine">體育學報</a>
                        </li>
                        <li>
                            <a href="/stuaccociation">系學會</a>
                        </li>
                        <li>
                            <a href="/alumni">系友會</a>
                        </li>
                    <a href="javascript:void(0);"  class="icon" onclick="myFunction()">&#9776;</a>
                </ul>
            </nav>
        </div>
    </div>