{%load static%}
<div class="details">
    <div class="imgstyle">
        <img src="{%static "images/02_04title.jpg "%}">
    </div>
    {% block content %}
        <div class="depar_title">
        <select  onchange="location = this.options[this.selectedIndex].value;">
        {%for yearsigned in yearsigned%}
        <option value="#yearsigned{{yearsigned.id}}">{{yearsigned.title}}</option>
        {%endfor%}
        </select>
        {%for yearsigned in yearsigned%}
            <h4 id="yearsigned{{yearsigned.id}}">{{yearsigned.title}}</h4>
            <table>
                <tbody>
                    <tr>
                        <th>職稱</th>
                        <th>姓名</th>
                        <th>最高學歷</th>
                        <th >專長</th>
                    </tr>
                    {% for partteacher in yearsigned.contact.all %}
                    <tr>
                        <td><a href="/partdetail/{{partteacher.id}}" style="color:blue;">{{partteacher.name}}</a></td>
                        <td>{{partteacher.job}}</td>
                        <td>{{partteacher.education}}</td>
                        <td>{{partteacher.specialty}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        {%endfor%}
        </div>

    {% endblock %}
</div>

