{%load static%}
<div class="details">
    <div class="imgstyle">
        <img src="{%static "images/m_03_01title.jpg"%}">
    </div>
    {% block content %}
    <div class="depar_title">
        <select  onchange="location = this.options[this.selectedIndex].value;">
        {% for master in masteradmission %}
        <option value="#master{{master.id}}">{{master.title}}</option>
        {%endfor%}
        </select>
        {% for master in masteradmission %}
        <h4 id="master{{master.id}}">{{master.title}}</h4> 
        {% for i in master.mastertest.all%}
        <ul>
            <li>{{i.filename}}
            {% if i.file1 %}
            <a href="{{i.file1.url}}" target='_blank'>[DOWNLOAD]</a></li>
            {% endif %}
            {% if i.file2 %}
            <a href="{{i.file2.url}}" target='_blank'> [DOWNLOAD]</a></li>
            {% endif %}
        </ul>
        {% endfor %}
        {% for i in master.masteraudi.all%}
        <ul>
            <li>{{i.filename}}
            {% if i.file1 %}
            <a href="{{i.file1.url}}" target='_blank'>[DOWNLOAD]</a></li>
            {% endif %}
            {% if i.file2 %}
            <a href="{{i.file2.url}}" target='_blank'>[DOWNLOAD]</a></li>
            {% endif %}
        </ul>
        {% endfor %}
        {% endfor %}
    </div>
    {% endblock %}
</div>
