{%load static%}
<div class="details">
    <div class="imgstyle">
        <img src="{%static "images/m_03_01title.jpg"%}">
    </div>
    {% block content %}
    <div class="depar_title">
        <select  onchange="location = this.options[this.selectedIndex].value;">
        {% for masternight in manightadmission %}
            <option value="#masternight{{masternight.id}}">{{masternight.title}}</option>
        {%endfor%}
        </select>
        {% for masternight in manightadmission %}
        <h4 id="masternight{{masternight.id}}">{{masternight.title}}</h4> 
        {% for i in masternight.mastnighaudi.all%}
        <ul>
            <li>{{i.filename}}
            {% if i.file1 %}
            <a href="{{i.file1.url}}">[DOWNLOAD]</a></li>
            {% endif %}
            {% if i.file2 %}
            <a href="{{i.file2.url}}">[DOWNLOAD]</a></li>
            {% endif %}
        </ul>
        {% endfor %}
        {% endfor %}
    </div>
    {% endblock %}
</div>