{%load static%}
<div class="details">
    <div class="imgstyle">
        <img src="{%static "images/05_publication_title.jpg"%}">
    </div>
    {% block content %}
    <div class="depar_title">
        {%for school in schoolpaper%}
        <h4>{{school.name}}</h4>
        <table>
            <tr>
                <th>研討會名稱</th>
                <th>論文題目</th>
                <th>發表人</th>
                <th>發表方式</th>
                <th>指導教授</th>
            </tr>
            {%for i in school.schoolpaper.all%}
            <tr>
                <td style="width:200px; padding:0px;">{{i.seminar}}</td>
                <td style="width:200px;">{{i.papertopic}}</td>
                <td style="width:75px;">{{i.author}}</td>
                <td >{{i.publication}}</td>
                
                <td>{{i.advisor}}</td>
            </tr>
            {% endfor %}
        </table>
        {%endfor%}
    </div>
    {% endblock %}
</div>