{%load static%}
<div class="details">
    <div class="imgstyle">
        <img src="{%static "images/03_01title.jpg"%}">
    </div>
    {% block content %}
    <div class="depar_title">
        {% for spor in sportexcellent %}
        <h4>{{spor.title}}</h4> 
        {% for i in spor.sportad.all%}
        <ul>
            <li>{{i.filename}}</li>
            {% if i.file1 %}
            <li><a href="{{i.file1.url}}">[DOWNLOAD]</a></li>
            {% endif %}
            {% if i.file2 %}
            <li><a href="{{i.file2.url}}">[DOWNLOAD]</a></li>
            {% endif %}
        </ul>
        {% endfor %}
        {% endfor %}
    </div>
    {% endblock %}
</div>
