{%load static%}
<div class="details">
    <div class="imgstyle">
        <img src="{%static "images/04_06title.jpg"%}">
    </div>
    {% block content %}
    <div class="depar_title">
        {% for stu in studentcorner %}
        <h4>{{stu.title}}</h4> 
        {% for i in stu.cornerupload.all%}
        <ul>
            <li>{{i.filename}}
            {% if i.file %}
            <a href="{{i.file.url}}">[DOWNLOAD]</a></li>
            {% endif %}
            {% if i.file2 %}
            <a href="{{i.file2.url}}">[DOWNLOAD]</a></li>
            {% endif %}
            {% if i.image1.url %}
            <a href="{{i.image1.url}}" target="__blank">[LINK IMG]</a>
            {%endif%}
            {% if i.image2.url %}
            <a href="{{i.image2.url}}" target="__blank">[LINK IMG]</a>
            {%endif%}
            {% if i.image3.url %}
            <a href="{{i.image3.url}}" target="__blank">[LINK IMG]</a>
            {%endif%}

        </ul>
        {% endfor %}
       
        {% endfor %}
    </div>
    {% endblock %}
</div>