{%load static%}
<div class="details">
    <div class="imgstyle">
        <img src="{%static "images/05_study_title.jpg"%}">
    </div>
    {% block content %}
    <div class="depar_title">
        <select  onchange="location = this.options[this.selectedIndex].value;">
        {% for stu in studygroup %}
            <option value="#stu{{stu.id}}">{{stu.title}}</option>
        {%endfor%}
        </select>
        {% for stu in studygroup %}
        <h4 id="stu{{stu.id}}">{{stu.title}}</h4> 
        {% for i in stu.studygroup.all%}
        <ul>
            <li>{{i.filename}}
            {% if i.file %}
            <a href="{{i.file.url}}" target="_blank">[DOWNLOAD]</a></li>
            {% endif %}
            {% if i.file2 %}
            <a href="{{i.file2.url}}" target="_blank">[DOWNLOAD]</a></li>
            {% endif %}
            

        </ul>
        {% endfor %}
       
        {% endfor %}
    </div>
    {% endblock %}
</div>