{%load static%}
<div class="details">
    <div class="imgstyle">
        <img src="{%static "images/title.jpg"%}">
    </div>
    {% include 'scrollinglight.html'%}
    <p>更新日期：2016年11月22日</p>
     {%block content%}
    <table class="training_news">
        <thead>
            <tr>
                <th colspan="2">研習訊息</th>
                <th><a href="/index">回首頁>></a></th>
            </tr>
        </thead>
        <tbody>
            {%for worknew in workshopnews%}
            <tr class='click_toggle'>
                <td>{{worknew.create_date}}</td>
                <td>{{worknew.title}}</td>
                <td></td>
            </tr>
            <tr class="click_content">
                <td colspan="3"> {{worknew.content|linebreaks}}
                
                </td>

            </tr>
            {%endfor%}
            
        </tbody>
    </table>
    {%endblock%}
</div>
