header h2 {
    margin: 25px 10px;
    font-size: 28px;
    text-align: center;
    color: cornsilk;
}

.container {
    display: table;
    max-width: 1200px;
    width: 100%;
    position: absolute;
    bottom: -30px;
}

.container:after,
.container:before {
    content: "" clear: both;
}

nav.menu {
    background: coral;
    position: relative;
    min-height: 45px;
}


ul {
    padding: 0;
}

.menu > ul > li {
    list-style: none;
    display: inline-block;
    color: #fff;
    line-height: 45px;
}

.menu > ul li a,
.xs-menu li a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 0px 15px;
    box-sizing: border-box;
}

.menu > ul li a:hover {
    background: #444;
    color: #fff;
    transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    border-left: 2px solid #FF7F50;
}

.active {
    background: #444 !important;
}

.displaynone {
    display: none;
}

.xs-menu-cont {
    display: none;
}

.xs-menu-cont > a {
    background: none repeat scroll 0 0 #ff7f50;
    border-radius: 3px;
    padding: 3px 6px;
    display: block;
    border-bottom: 1px solid #E67248;
    box-shadow: 0 1px 2px #e67248;
    -webkit-box-shadow: 0 1px 2px #e67248;
    -moz-box-shadow: 0 1px 2px #e67248;
}

.xs-menu-cont > a:hover {
    cursor: pointer;
}

.xs-menu li {
    color: #fff;
    padding: 14px 30px;
    border-bottom: 1px solid #ccc;
    background: #FF7F50;
}

.xs-menu a {
    text-decoration: none;
}

.mega-menu {
    background: none repeat scroll 0 0 #888;
    left: 0;
    position: absolute;
    width: 100%;
    
    box-sizing: border-box;
    display: none;
    transition-duration: 1.2s;
    font-family: Microsoft JhengHei;
    font-size: 16px;
}
.menublock{
  display: flex;
}
.menublock>a{
  margin:2px 10px 2px 0;
  min-width: 100px;
}
.menublock>ul{
  padding: 5px 30px 0px;
  list-style: none;
}
.menublock>ul>span{
  font-size: 20px;
  font-weight: 700;
}
.menublock>ul>a>li{
  margin-left: 50px;
}
.menublock>ul>a{
    border-left: 2px solid white;
}


#menutoggle i {
    color: #fff;
    font-size: 33px;
    margin: 0;
    padding: 0;
}


/*--column--*/

.mm-6column:after,
.mm-6column:before,
.mm-3column:after,
.mm-3column:before {
    content: "";
    display: table;
    clear: both;
}

.mm-6column,
.mm-3column {
    float: left;
    position: relative;
}

.mm-6column {
    width: 50%;
}

.mm-3column {
    width: 25%;
}

.responsive-img {
    display: block;
    max-width: 100%;
}

.left-images {
    margin-right: 25px;
}

.left-images,
.left-categories-list {
    float: left;
}

.categories-list li {
    display: block;
    line-height: normal;
    margin: 0;
    padding: 5px 0;
}

.categories-list li:hover {
    background: inherit !important;
}

.left-images > p {
    background: none repeat scroll 0 0 #ff7f50;
    display: block;
    font-size: 18px;
    line-height: normal;
    margin: 0;
    padding: 5px 14px;
}

.categories-list span {
    font-size: 18px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.mm-view-more {
    background: none repeat scroll 0 0 #ff7f50;
    color: #fff;
    display: inline !important;
    line-height: normal;
    padding: 5px 8px !important;
    margin-top: 10px;
}

.display-on {
    display: block;
    transition-duration: 1.2s;
}

.drop-down > a:after {
    content: "\f103";
    color: #fff;
    font-family: FontAwesome;
    font-style: normal;
    margin-left: 5px;
    position: static;
}


/*MediaQuerys*/

@media (max-width: 740px) {
    
    .xs-menu li a {
        padding: 0px;
    }
    .xs-menu-cont {
        display: block;
    }
}
.icon{
    display: none;
}

@media screen and (max-width: 900px){
    nav.menu > ul >li{
        display: none;
    }
    a.icon{
        float: right;
        display: block;
        font-size:30px;
        margin:0 13px;
        color:white;
        font-weight:700;
    }
}
@media screen and (max-width: 900px) {
  .menu.responsive {
    position: absolute;
    width: 100%;
    z-index: 999;
    top: -45px;
  }
  .menu.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menu.responsive li {
    float: none;
    display: block;
    text-align: center;
  }
    .activity_news{
        display: none;
    }
    .calenderlinkbar{
        display: none;
    }
    .menu > ul li a,
    .xs-menu li a {
        text-decoration: none;
        color: #fff;
        display: block;
        padding: 0px 5px;
        box-sizing: border-box;
    }
}


/*Animation--*/

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        
    }
    100% {
        opacity: 1;
        
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    z-index: 99;
}

@media screen and (max-width: 740px){
    .menublock{
        font-size: 14px;
    }
    .menublock > ul > a > li{
        margin: 0px;
    }
    .menublock>ul>span{
        font-size: 14px;
    }
    .menublock>ul{
        padding: 0px;
    }
    .menublock > a{
        margin: 0;
        min-width: 90px;
    }
}


}